In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [356]:
#importing driver
driver=webdriver.Chrome(r'C:\Users\Alby\Desktop\chromedriver\chromedriver.exe')

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#getting url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(4)

In [4]:
elem=[]
#extracting the table
table=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']")
table.text
tbody=table.find_elements_by_tag_name("td")
for j in tbody:
    elem.append(j.text.strip())

    
    #extracting the required details
Rank=elem[0::6]
vd=elem[1::6]
video=[i.split('[')[0] for i in vd]

Artist=elem[2::6]
Views=elem[3::6]
Uploaded=elem[4::6]

In [5]:
#creating Dataframe
Most_viewed_yt=pd.DataFrame({})
Most_viewed_yt['Rank']=Rank
Most_viewed_yt['Video_name']=video
Most_viewed_yt['Artist']= Artist
Most_viewed_yt['Views']= Views
Most_viewed_yt['Uploaded_on']=Uploaded
Most_viewed_yt

,Rank,Video_name,Artist,Views,Uploaded_on
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.91,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.43,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,5.53,"October 8, 2016"
3,4.,"""Shape of You""",Ed Sheeran,5.37,"January 30, 2017"
4,5.,"""See You Again""",Wiz Khalifa,5.16,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.44,"January 31, 2012"
6,7.,"""Bath Song""",Cocomelon – Nursery Rhymes,4.26,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.22,"February 27, 2018"
8,9.,"""Uptown Funk""",Mark Ronson,4.22,"November 19, 2014"
9,10.,"""Gangnam Style""",Psy,4.11,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.97,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.50,"January 14, 2015"
12,13.,"""Sorry""",Justin Bieber,3.45,"October 22, 2015"
13,14.,"""Dame Tu Cosita""",El Chombo,3.43,"April 5, 2018"
14,15.,"""Roar""",Katy Perry,3.38,"September 5, 2013"
15,16.,"""Counting Stars""",OneRepublic,3.33,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.28,"October 7, 2014"
17,18.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.13,"May 24, 2018"
18,19.,"""Dark Horse""",Katy Perry,3.10,"February 20, 2014"
19,20.,"""Faded""",Alan Walker,3.09,"December 3, 2015"
20,21.,"""Shake It Off""",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Girls Like You""",Maroon 5,3.06,"May 31, 2018"
22,23.,"""Lean On""",Major Lazer,3.06,"March 22, 2015"
23,24.,"""Bailando""",Enrique Iglesias,3.06,"April 11, 2014"
24,25.,"""Let Her Go""",Passenger,3.02,"July 25, 2012"
25,26.,"""Mi Gente""",J Balvin,2.94,"June 29, 2017"
26,27.,"""Perfect""",Ed Sheeran,2.89,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,2.87,"June 4, 2010"
28,29.,"""Axel F""",Crazy Frog,2.86,"June 16, 2009"
29,30.,"""Hello""",Adele,2.85,"October 22, 2015"

### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
#acccessing url
driver.get('https://www.bcci.tv/')

In [11]:
#accessing the tool bar
int=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")

int.click()
time.sleep(2)

#clicking the fixtures button
fix=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
fix.click()

In [40]:
#extracting the match name
try:
    match= driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
    Match_title=[i.text for i in match]
except:
    Match_title.append('-')


    
    #extracting the location

try:
    loc=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
    place=[i.text for i in loc]
except:
    place.append('-')
    

    
#extracting the series name

series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
    
Series=[i.text for i in series]



#extracting the Date

date=driver.find_elements_by_xpath("//span[@class='fixture__date']")
    
Date=[i.text for i in date]


#extracting the month

month=driver.find_elements_by_xpath("//span[@class='fixture__month']")
    
Month=[i.text for i in month]
Month

#extracting the time

time=driver.find_elements_by_xpath("//span[@class='fixture__time']")
    
Time=[i.text for i in time]

Time

#creating Dataframe

Cricket_fixture=pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':place,'Date':Date,'Month':Month,'Time':Time})
Cricket_fixture

,Match_title,Series,Place,Date,Month,Time
0,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13,JULY,14:30 IST
1,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16,JULY,14:30 IST
2,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18,JULY,14:30 IST
3,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",21,JULY,19:00 IST
4,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23,JULY,19:00 IST
5,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25,JULY,19:00 IST
6,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
7,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
8,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
9,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
10,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [46]:
#getting url

driver.get('https://www.guru99.com/')

time.sleep(3)

#clicking selenium button

sel_btn=driver.find_element_by_link_text("Selenium")
sel_btn.click()
time.sleep(10)

#closing pop-up if any
try:
    close=driver.find_element_by_xpath("//div[@class='cb-close']")
    close.click()
except:
    pass

#exception list

time.sleep(6)

exception_link=driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a')
exception_link.click()

In [61]:
table_contents=[]
#getting the table

table=driver.find_elements_by_xpath('//table[@class="table table-striped"]')

for i in table:
    contents=i.find_elements_by_tag_name('td')
    
for j in contents:
    table_contents.append(j.text)
    
Exception_Name=table_contents[2::2]
Description=table_contents[3::2]

In [64]:
#creating DataFrame
Selenium_Exceptions=pd.DataFrame({'Name':Exception_Name,'Description':Description})
Selenium_Exceptions

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [73]:
#getting url
driver.get('http://statisticstimes.com/')
time.sleep(5)

#Economy button
econ=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
driver.get(econ.get_attribute('href'))
time.sleep(4)

In [74]:
#Gdp by state page

gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
driver.get(gdp.get_attribute('href'))

In [110]:
#getting the table
table=driver.find_elements_by_xpath('//*[@id="table_id"]')
for i in table:
    contents=i.find_elements_by_tag_name('td')
contents_table=[i.text for i in contents]
contents_table

#catogorizing the data

Rank=contents_table[0::8]
Rank=Rank[0:-1]
State=contents_table[1::8]
State=State[0:-1]
GSDp19_20=contents_table[2::8]
GSDp19_20=GSDp19_20[0:-1]
GSDp18_19=contents_table[3::8]
GSDp18_19=GSDp18_19[0:-1]
share18_19=contents_table[4::8]
share18_19=share18_19[0:-1]
GDP=contents_table[5::8]
GDP=GDP[0:-1]

In [111]:
#creating DataFrame

GDP_states=pd.DataFrame({'Rank':Rank,'State':State,'GSDP_current_price(19-20)':GSDp19_20,'GSDP_current_price(18-19)':GSDp18_19,'Share(18-19)':share18_19,'GDP(billion)':GDP})
GDP_states

,Rank,State,GSDP_current_price(19-20),GSDP_current_price(18-19),Share(18-19),GDP(billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [384]:
#getting url
driver.get('https://github.com/')
time.sleep(4)

#getting trending button

dr = driver.find_elements_by_xpath("//li[@class='edge-item-fix']/a")
dra = []
for i in dr:
    dra.append(i.get_attribute('href'))

for i in dra:
    if ('trending' in i):
        driver.get(i)

In [385]:
#respository name

repo = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
repos = []
for i in repo:
    repos.append(i.text)
    
#description

des = driver.find_elements_by_xpath("//p[@class = 'col-9 color-text-secondary my-1 pr-4']")
desx = []
for i in des:
    desx.append(i.text)

#count

cont = driver.find_elements_by_xpath("//a[@class = 'Link--muted d-inline-block mr-3']")
contx = []
for i in cont:
    contx.append(i.text)
contributor_count = contx[1::2]

#language

language=[]
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None :
        language.append("--") 
    else:
        language.append(i.text)

In [386]:

Git = pd.DataFrame({})
Git['Repos'] = repos[:21]
Git['Description'] = desx[:21]
Git['Count'] = contributor_count[:21]
Git['language'] = language[:21]
Git

,Repos,Description,Count,language
0,bndw / wifi-card,📶 Print a QR code for connecting to your WiFi,129,JavaScript
1,facebook / folly,An open-source C++ library developed and used ...,"4,146",C++
2,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",306,C++
3,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,"3,620",Java
4,microsoft / CBL-Mariner,Linux OS for Azure 1P services and edge applia...,89,Go
5,opensearch-project / OpenSearch,Open source distributed and RESTful search eng...,255,Java
6,avelino / awesome-go,"A curated list of awesome Go frameworks, libra...","8,660",Go
7,fenixsoft / awesome-fenix,讨论如何构建一套可靠的大型分布式系统,225,Vue
8,dromara / Sa-Token,这可能是史上功能最全的Java权限认证框架！目前已集成——登录认证、权限认证、分布式Sess...,786,Java
9,0vercl0k / wtf,"wtf is a distributed, code-coverage guided, cu...",26,C++
10,TencentARC / GFPGAN,"12 weeks, 24 lessons, classic Machine Learning...",83,Python
11,microsoft / ML-For-Beginners,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,"2,677",Jupyter Notebook
12,chefyuan / algorithm-base,End-to-end image segmentation kit based on Pad...,"1,134",Java
13,PaddlePaddle / PaddleSeg,微信消息解密工具,443,Python
14,JustYoomoon / WechatDecrypt," Now we have become very big, Different from ...",35,C++
15,jaywcjlove / awesome-mac,🇨🇳 GitHub中文排行榜，帮助你发现高分优秀中文项目、更高效地吸收国人的优秀经验成果；榜...,"4,834",JavaScript
16,kon9chunkit / GitHub-Chinese-Top-Charts,Used to integrate the Facebook Platform with y...,"5,142",Java
17,facebook / facebook-ios-sdk,A Go framework for microservices.,"2,861",Objective-C
18,go-kratos / kratos,A cat(1) clone with wings.,"2,809",Go
19,sharkdp / bat,This repository contains all the DSA (Data-Str...,720,Rust
20,Aaron-lv / sync,Model parallel transformers in JAX and Haiku,45,Jupyter Notebook

### 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [319]:
#getting url

driver.get('https://www.billboard.com/')
time.sleep(5)

In [320]:
#extracting links


dt = driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]/a")
driver.get(dt.get_attribute('href'))

In [324]:
#song name


song = []
sng = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in sng:
    song.append(i.text)

    
#weeks


last_week = []
last = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last:
    last_week.append(i.text)
    
    
#Artist name   
singer = []
sing = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in sing:
    singer.append(i.text)

    
#peak   
peak = []
pk = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pk:
    peak.append(i.text)

#weak on    
weakon = []
wk = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wk:
    weakon.append(i.text)

In [326]:
#creating dataframe

Billboard = pd.DataFrame({})
Billboard['Song'] = song
Billboard['Singer'] = singer
Billboard['Last Week'] = last_week
Billboard['Peak'] = peak
Billboard['Week'] = weakon
Billboard

,Song,Singer,Last Week,Peak,Week
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15
...,...,...,...,...,...
95,All I Know So Far,P!nk,-,74,4
96,What's Next,Drake,-,1,16
97,Enough For You,Olivia Rodrigo,-,14,6
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,-,64,4

### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [327]:
#getting url
driver.get('https://www.naukri.com/')
time.sleep(5)

In [331]:
#getting url
dt = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(dt.get_attribute('href'))

#search

search = driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys('Data Science')
time.sleep(2)

#clicking button


btn = driver.find_element_by_id('qsbFormBtn')
btn.click()

In [332]:
#extracting name


name = []
nm = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in nm:
    name.append(i.text)

    
#designation


desig = []
des = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in des:
    desig.append(i.text)

    
#company

company = []
comp = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in comp:
    company.append(i.text)

    
#description    
jobdesc = []
job = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in job:
    jobdesc.append(i.text)
    
#location
    
location = []
loc = driver.find_elements_by_xpath("//p[@class='highlightable']/span/small")
for i in loc:
    try:
        location.append(i.text) 
    except NoSuchElementException:
        location.append("--")

In [333]:
#creating dataframe

Naukri = pd.DataFrame({})
Naukri['Name'] = name[:47]
Naukri['Designation'] = desig[:47]
Naukri['Company'] = company[:47]
Naukri['Location'] = location[:47]
Naukri['Looking for'] = jobdesc[:47]
Naukri

,Name,Designation,Company,Location,Looking for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Bengaluru / Bangalore,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Mysoru / Mysore,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad,"Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Bengaluru / Bangalore,"Data Science, Machine Learning, Big Data Analy..."
32,Radha Manivasagam,HR Executive,Techcovery,Noida,"Python, Artificial Intelligence, Machine Learn..."
33,Prateek Kumar,Head,Trisect,New Delhi,"Java, Python, Angularjs, Software Testing, Mac..."
34,Amit Sharma,Consultant,ASCO consulting,Chennai,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Salt Lake City,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Pune,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Mumbai,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Bengaluru / Bangalore,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,MYSORE,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,Noida,"Software Development, Core Java, Unit Testing,..."

### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [334]:
#getting url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(5)

In [336]:
#accessing tabel
tableid = driver.find_elements_by_xpath("table[@class='in-article sortable']")
rows = driver.find_elements_by_tag_name('tr')
for row in rows:
    col = driver.find_elements_by_tag_name('td')
    
final = []
for i in col:
    final.append(i.text)

rank = final[1::6]
title = final[2::6]
author = final[3::6]
volume = final[4::6]
publisher = final[5::6]
genre = final[6::6]

In [337]:
#creating dataframe
Books=pd.DataFrame({})
Books['Rank'] = rank
Books['Title'] = title
Books['Author'] = author
Books['Volume'] = volume
Books['Publisher'] = publisher
Books['Genre'] = genre
Books

,Rank,Title,Author,Volume,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [338]:
#getting url

driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(5)

In [339]:
#getting details


#name

name = []
nm = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in nm:
    name.append(i.text)

    #year
    
year = []
yr = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in yr:
    year.append(i.text)
  

    #genre 
    
    
genre = []
gen = driver.find_elements_by_xpath("//span[@class='genre']")
for i in gen:
    genre.append(i.text)
    
run = []
rn = driver.find_elements_by_xpath("//span[@class='runtime']")
for i in rn:
    run.append(i.text)

    #rationg


rating = []
rat = driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']")
for i in rat:
    rating.append(i.text.replace('\nRate', ''))

    
    #votes


votes = []
vt = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]")
for i in vt:
    votes.append(i.text.replace('Votes: ',''))

In [340]:
#creating dataframe
IMDB = pd.DataFrame({})
IMDB['Name'] = name
IMDB['Year'] = year
IMDB['Ratings'] = rating
IMDB['Genre'] = genre
IMDB['Runtime'] = run
IMDB['Vote'] = votes
IMDB

,Name,Year,Ratings,Genre,Runtime,Vote
0,Game of Thrones,(2011–2019),9.2,"Action, Adventure, Drama",57 min,"1,835,393"
1,Stranger Things,(2016– ),8.7,"Drama, Fantasy, Horror",51 min,"874,161"
2,The Walking Dead,(2010–2022),8.2,"Drama, Horror, Thriller",44 min,"879,319"
3,13 Reasons Why,(2017–2020),7.6,"Drama, Mystery, Thriller",60 min,"264,212"
4,The 100,(2014–2020),7.6,"Drama, Mystery, Sci-Fi",43 min,"225,709"
...,...,...,...,...,...,...
95,Reign,(2013–2017),7.5,"Drama, Fantasy",42 min,"44,790"
96,A Series of Unfortunate Events,(2017–2019),7.8,"Adventure, Comedy, Drama",50 min,"55,397"
97,Criminal Minds,(2005–2020),8.1,"Crime, Drama, Mystery",42 min,"169,584"
98,Scream: The TV Series,(2015–2019),7.1,"Comedy, Crime, Drama",45 min,"35,120"
99,The Haunting of Hill House,(2018),8.6,"Drama, Horror, Mystery",572 min,"193,351"

### 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [357]:
#getting url
driver.get('https://archive.ics.uci.edu/')
time.sleep(5)

select = driver.find_element_by_xpath("//span[@class='whitetext'][2]/a[1]")
driver.get(select.get_attribute('href'))

#accessing table

cols = driver.find_elements_by_xpath("//td[@valign='top'][2]/table[2]/tbody/tr/td")

In [358]:
#accessing the table
colsx = []
for i in cols:
    colsx.append(i.text)
    
#catogorising the data


Name = colsx[1::7]
Data_Types = colsx[1::7]
Default_Task = colsx[2::7]
Attribute_Types = colsx[3::7]
Instances = colsx[4::7]
Attributes = colsx[5::7]
Year = colsx[6::7]

In [359]:
#creating dataframe

UCI = pd.DataFrame({})
UCI['Name'] = Name
UCI['Data Types'] = Data_Types
UCI['Default Task'] = Default_Task
UCI['Attribute Type'] = Attribute_Types
UCI['Instances'] = Instances
UCI['Attributes'] = Attributes
UCI['Year'] = Year
UCI

,Name,Data Types,Default Task,Attribute Type,Instances,Attributes,Year
0,Data Types,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Multivariate,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Multivariate,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Multivariate,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
584,Multivariate,Multivariate,Classification,,12684,23,2020
585,Multivariate,Multivariate,Classification,Real,48,321,2020
586,Time-Series,Time-Series,Regression,Real,731,1068,2021
587,Time-Series,Time-Series,Regression,Real,731,1068,2021
588,Multivariate,Multivariate,Regression,Real,557,5,2021